// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  color: #8899ff;
}

#microposts_notice{
    color: #8899ff;
}

#micro_error_explanation {
  width: 450px;
  border: 2px solid mediumseagreen;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: lightsteelblue;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: orangered;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}